---
import Card from "../../blocks/card/card.astro";
import Button from "../../blocks/button/index.astro";
import { Icon } from "astro-icon/components";
import "./my-works.css";
import Badge from "../../blocks/badge/badge.astro";
import SectionHeading from "../../blocks/section-heading/section-heading.astro";

const { class: className = "" } = Astro.props;
---

<section class={`section cmp-my-works ${className}`} id="my-works">
    <div class="cmp-container">
        <SectionHeading
            title="My Works"
            desc="Creates user-friendly web experiences using HTML, CSS, JavaScript, and frameworks."
        />
        <div
            class="cmp-my-works__container grid grid-cols-1 lg:grid-cols-3 gap-4"
        >
            <div class="col-span-1">
                <Card imageUrl="/images/photo.png" alt="Astro Article">
                    <h4 class="card__content-title">{"Astro Article"}</h4>
                    <div class="flex justify-between">
                        <div class="card__content-tag-container">
                            <Badge class="tag">HTML</Badge>
                            <Badge class="tag">Typescript</Badge>
                        </div>
                    </div>
                    <p class="card__content-desc">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Iste expedita dolor cupiditate, repudiandae totam
                        reiciendis? Expedita quae mollitia officia
                        necessitatibus commodi natus quo nemo, quidem,
                        laudantium iste cumque, odit veritatis!
                    </p>

                    <Button
                        href="/my-works/this-is-your-id"
                        variant="transparent"
                    >
                        Know More <Icon name={"arrow-up-right"} size={16} />
                    </Button>
                </Card>
            </div>
            <div class="col-span-1">
                <Card imageUrl="/images/photo.png" alt="Astro Article">
                    <h4 class="card__content-title">{"Astro Article"}</h4>
                    <div class="flex justify-between">
                        <div class="card__content-tag-container">
                            <Badge class="tag">HTML</Badge>
                            <Badge class="tag">Typescript</Badge>
                        </div>
                    </div>
                    <p class="card__content-desc">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Iste expedita dolor cupiditate, repudiandae totam
                        reiciendis? Expedita quae mollitia officia
                        necessitatibus commodi natus quo nemo, quidem,
                        laudantium iste cumque, odit veritatis!
                    </p>

                    <Button
                        href="/my-works/this-is-your-id"
                        variant="transparent"
                    >
                        Know More <Icon name={"arrow-up-right"} size={16} />
                    </Button>
                </Card>
            </div>
            <div class="col-span-1">
                <Card imageUrl="/images/photo.png" alt="Astro Article">
                    <h4 class="card__content-title">{"Astro Article"}</h4>
                    <div class="flex justify-between">
                        <div class="card__content-tag-container">
                            <Badge class="tag">HTML</Badge>
                            <Badge class="tag">Typescript</Badge>
                        </div>
                    </div>
                    <p class="card__content-desc">
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Iste expedita dolor cupiditate, repudiandae totam
                        reiciendis? Expedita quae mollitia officia
                        necessitatibus commodi natus quo nemo, quidem,
                        laudantium iste cumque, odit veritatis!
                    </p>

                    <Button
                        href="/my-works/this-is-your-id"
                        variant="transparent"
                    >
                        Know More <Icon name={"arrow-up-right"} size={16} />
                    </Button>
                </Card>
            </div>
        </div>
        <Button
            class="cmp-my-works__view-all"
            variant="primary"
            href="/my-works"
            outline>View All</Button
        >
    </div>
</section>
<script type="module">
    import "./my-works.ts";
</script>
